
<nz-layout class="layout">
  <nz-sider [nzCollapsible]="false" [nzCollapsed]="true" nzWidth="200px" nzTheme="light">

      <img src="./assets/images.jpeg" class="logo">

    <ul nz-menu nzTheme="light" nzMode="inline">

      <li nz-submenu nzTitle="User" nzIcon="user">
        <ul>
          <li nz-menu-item>Tom</li>
          <li nz-menu-item>Bill</li>
          <li nz-menu-item>Alex</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Team" nzIcon="team">
        <ul>
          <li nz-menu-item>Team 1</li>
          <li nz-menu-item>Team 2</li>
        </ul>
      </li>

      <li nz-menu-item>
        <i nz-icon nzType="file"></i>
        <span>File</span>
      </li>

    </ul>

  </nz-sider>

  <nz-content>




    <app-content></app-content>


  </nz-content>


</nz-layout>
<!--sidebar-->


